<launch>
	<group ns="ramps">
	 	
			  	<!-- load the controllers  -->
	  	<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	    output="screen" args="rampsJointState rampsX rampsY rampsZ --shutdown-timeout 0.1"/>
	  	
	 	<node pkg="h4r_ramps" type="h4r_ramps_node" name="ramps" output="screen" >
	 		<param name="port" value="/dev/ttyACM0" />
			<param name="rate" value="10" />	 
			<param name="baudrate" value="9600" />	
			<param name="bytesize" value="8" />			
			<param name="parity" value="0" />			
			<param name="stopbits" value="1" />
			<param name="flowcontrol" value="0" />
			<param name="mode" value="position" />			
	 	</node>	
	 	
	 	<!-- Load joint controller configurations from YAML file to parameter server -->
	  	<rosparam file="$(find h4r_ramps)/config/ramps.yaml" command="load"/>

	</group>		
</launch>
 